#accordionExample {
    border-radius: 12px !important;
}
.accordion-item-header {
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 12px !important;
}

.accordion-collapse {
    border-top: 1px solid #CBE0FF;
}

.accordion-item-header .accordion-button {
    background: #fff !important;
    box-shadow: none !important;
    padding-left: .5em;
    font-weight: bold;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 50%;
}

.accordion-item-header .accordion-button span{
    font-weight: lighter !important;
    padding-left: .5em;
}

.accordion-item-header .accordion-button::after {
    position: absolute;
    left: 0;
}

.content-text-finiquito {
    width: 25%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.text-value-finiquito {
    color: black;
    font-weight: bold;
    display: block;
    line-height: 2em;
}

.text-title-finiquito {
    color: #797979;
    display: block;
    font-size: 14px;
}

.cuadro-flecha {
    border: 1px solid #CBE0FF;
    width: 30px;
    height: 30px;
    position: relative;
    left: -.8em;
    border-radius: 5px;
    background: #F7FAFF;
}

#accordionFiniquitos .search-icon-general {
    font-size: .5em;
}

.search-input {
    position: absolute;
    z-index: 9;
    margin-top: -1.3em;
    margin-left: 30%;
    width: 15%;
}


.content-consulta {
    border-radius: 12px;
    background: #fff;
    padding: 1em;
}

.btn-calculo {
    border-radius: 24px;
    background: #0D6CFC !important;
    border: 1px solid #0D6CFC;
    padding: 0.3em 1em;
}

.content-info {
    border: 0.5px solid #0D6CFC;
    margin: 1em 8em;
    padding: 1em;
    border-radius: 12px;
    font-size: 14px;
}

.label-consulta {
    padding-left: 2em;
}

.box-consulta-info {
    border-left: 1px solid #0D6CFC;
}

.divider-box-consulta {
    width: 100%;
    margin-top: .5%;
    margin-bottom: 1%;
    border-top: 1px solid #AFCFFF;
}

.title-consulta-baja {
    text-align: center;
}

.btn-box-calculo {
    text-align: end;
}
