.box-menu-horizontal {
    box-shadow: 0px 3px 12px #213E501F !important;
    border: 1px solid #D9E8FF !important;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    margin-right: 1em;
}

.box-menu-horizontal .nav-link {
    color: #363636 !important;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 12px #213E501F;
    border: 1px solid #CBE0FF;
    border-radius: 10px;
}

.box-menu-horizontal .nav-link.active {
    color: #fff !important;
    border: 1px solid #0C6CF8;
}


.title-load-image {
    font-size: 16px;
    font-weight: 600;
    padding: .7em 0;
    border-bottom: 1px solid #CBE0FF;
}

.box-img-load .title-load-image {
    font-weight: normal;
    padding-right: .5em;
}

.box-img-load .title-load-image i {
    color: #9A9A9A;
    cursor: pointer;
}

.box-img-load .title-load-image span {
    width: 90%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 14px;
}

.form_drag_drop {
    border: 2px dashed #CBE0FF;
    border-radius: 10px;
    padding: 1em;
    font-weight: 500;
}

.box-img-load-file {
    text-align: center;
}

.box-img-load {
    max-height: 27vh;
    overflow-y: auto;
}


.box-img-loading {
    max-height: 54vh;
    overflow: hidden !important;
}

.icon-upload {
    font-size: 2em;
    color: #0C6CF8;
}

.box__dragndrop {
    color: #0C6CF8;
    text-decoration: underline;
    cursor: pointer;
}

.btn-subir-archivo {
    background: #0D6CFC;
    border-radius: 24px;
    width: 18em;
    height: 3em;
    order: 2;
    margin-top: auto; /* Esto mueve el botón al final */
}

.title-loading-image {
    font-size: 18px;
    font-weight: 600;
    padding: .7em 0 .7em .7em;
    border-bottom: 1px solid #CBE0FF;
    width: 102.2%;
}

.title-loading-image .fa-check {
    color: #02AF08;
}

.title-loading-image .fa-times {
    color: #9A9A9A;
}

.title-loading-image .progress {
    height: 1em;
    align-self: center;
}

.content-document {
    border-radius: 12px;
    height: 67vh;
    background: #fff;
    margin: auto 0.8em;
    width: 30%;
    padding: 0 1.5em
}

.content-documentos {
    background: white !important;
    border-radius: 12px;
    width: 65% !important;
}

.drop-toggle-modicado::after {
    content: none !important;
}

.icon-drop-table {
    padding-right: 0.5em;
}

.btn-cancelar-documento {
    width: 18em;
    height: 3em;
    background-color: #ffffff !important;
    color: #0D6CFC !important;
    font-weight: 900;
    border-radius: 24px;
}

.text-subir-archivo {
    width: 87%;
    height: 77px;
    text-align: center;
    font: normal normal medium 14px Montserrat;
    letter-spacing: 0px;
    color: #363636;
    opacity: 1;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.span-subir-archivo {
    text-align: center;
    font: normal normal 600 19px Montserrat;
    letter-spacing: 0px;
    color: #363636;
    opacity: 1;
    font-weight: 600;
}

.spinner-document{
    --bs-spinner-width: 11rem !important;
    --bs-spinner-height: 11rem !important;
    --bs-spinner-border-width: 0.6em !important;
    --bs-spinner-animation-speed: 6s;
    --bs-spinner-color: #0C6CF8
}

.spinner-document{
    border:20px solid #ffffff;
    border-bottom: 20px solid #0C6CF8;
    border-radius: 50%;
    width: var(--bs-spinner-width);
    height: var(--bs-spinner-height);
    animation: loader var(--bs-spinner-animation-speed) linear infinite;
    border-left-color: var(--bs-spinner-color);
    border-right-color: var(--bs-spinner-color);
  } 

  .content-title-subir-archivos{
    margin-top: 5em !important;
  }

  .content-buton-cancelar{
    position: absolute;
    bottom: 0;
    height: 28%;
    padding-left: 3vh;
  }

  .content-button-subir-documento{
    position: absolute;
    bottom: 0;
    height: 28%;
    padding-left: 3vh;
  }

  @keyframes loader{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }