body, html {
    font-family: 'Montserrat';
    font-size: 14px;
}

.content-logo {
    height: 100vh;
    text-align: center;
    padding-top: 10%;
    background: transparent linear-gradient(180deg, #0D6CFC 0%, #371F80 100%) 0% 0% no-repeat padding-box;
}

.divider-line {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #fff;
}

.title-portal {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
}

.header-text-login {
    color: #0D6CFC;
    font-weight: bold;
    font-size: 30px;
    line-height: .5em;
}

.title-text-login {
    color: #0049B4;
    font-size: 14px;
}

.input-login::placeholder {
    color: #d0d0d0;
    font-weight: bold;
}

.input-login {
    box-shadow: none !important;
    border-radius: 8px;
    border: 1px solid #AFCFFF;
}

.btn-login {
    background: #0D6CFC;
    border-radius: 24px;
    width: 70%;
    margin-top: 4em;
    padding: .5em;

}

.content-btn-login {
    text-align: center;
}