body, html {
    font-family: 'Montserrat';
    margin: 0;
    height: 100%;
    background:#F4F4F4;
    color: #363636;
    font-size: 16px;
}

.content-page {
    background-color: #fff;
    border-bottom:none !important;
    box-shadow: 0px 0px 20px #ACB1FF26;
}

.title {
    font-weight: bold;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-left: .5em;
    font-size: 17px;
}

.usuarioNombreTitle {
    color: #707070 !important;
    font-weight: 400;
    font-size: 16px;
}

.usuarioNombreTitle span {
    width: 140px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}


.usuario-img-circle {
    border: 0.800000011920929px solid #0C6CF8 !important;
    margin-left: .5em !important;
}

.dropdown-sesion {
    text-align: end;
    transform: none !important;
    margin-top: -.5em !important;
    margin-left: -3.3em !important;
    padding-top: .46em;
    box-shadow: 0px 4px 12px #273B6929;
    border-radius: 12px;
    transition-property: all;
    transition-duration: 1s;
}

.dropdown-sesion .dropdown-item {
    font-weight: 500;
    font-size: 14px;
}

.dropdown-usuario-sesion .dropdown-toggle::after {
    display: none;
}

.dropdown-usuario-sesion .usuarioNombreTitle {
    padding-right: .5em;
}

.card-img-top {
    width: 199px;
    height: 170px;
}

.box-menu {
    box-shadow: 0px 3px 10px #213E5045;
    border: 1px solid #CBE0FF;
    border-radius: 12px;
    height: 370px;
    text-align: center;
    cursor: pointer;
}

.content-card-img {
    text-align-last: center;
    width: 100%;
    padding: 1.5em 0 0;
    border-bottom: 1px solid #ccc
}

.content-bienvenido-text {
    text-align: center;
}

.bienvenido-text-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: auto;
    margin-top: 1;
}

.bienvenido-text-subtitle {
    font-size: 20px;
}

.card-text-title {
    color: #0C6CF8;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
}

.card-text-subtitle {
    font-size: 14px;
    color:#363636;
}

.content-general-box {
    background: #FFFFFF;
    box-shadow: 0px 3px 3px #0000001F;
    border-radius: 12px;
    padding: 1em;
}

.content-generic {
    border-radius: 12px;
    height: 67vh;
    background: #fff;
    margin: auto 0.8em;
    width: 47%;
    padding: 0 1.5em
}


/*SEARCH BOX*/
.input-search-general {
    border: 1px solid #AFCFFF;
    border-radius: 14px !important;
    padding-right: 3em !important;
    padding-left: 1em !important;
    box-shadow: none !important;
}

.input-search-general::placeholder {
    color: #ccc;
    font-weight: bold;
}

.search-icon-general {
    position: absolute;
    z-index: 6;
    right: 0.7em;
    top: 0.45em;
    color: #0C6CF8;
    border-left: 1px solid #AFCFFF;
    padding-left: 0.3em;
}
/*SEARCH BOX*/

.btn-blue-general {
    color: #0C6CF8 !important;
    border: 1px solid #0C6CF8;
    border-radius: 17px;
    width: 80%;
    background: #fff !important;
}

.alerta-general {
    background: #F2F7FF;
    border: 1px solid #D9E8FF;
    border-radius: 9px;
    color: #000;
    padding-left: 4em;
    font-size: 13px;
}

.alerta-general .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 2em 1.5em;
    box-shadow: none !important;
}

.alerta-general i{
    position: absolute;
    left: 1.2em;
    font-size: 1.2em;
    top: 1.7em;
    color: #0C6CF8;
}