#exampleModal,
#editarModal {
    text-align: center;
}

.foto-img {
    box-shadow: 0px 3px 6px #00000029;
    border: 4px solid #FFFFFF;
    margin-bottom: 1em;
}

.btn-close-modal {
    left: 92%;
    position: relative;
    margin: 0.5em;
    box-shadow: none !important;
}

.btn-acciones {
    width: 90%;
    margin: 1em;
    border: 1px solid #0C6CF8 !important;
    color: #0C6CF8 !important;
    background-color: #FFFFFF !important;
    box-shadow: none !important;
    border-radius: 24px;
    padding: 0.2em !important;
    font-size: 14px;
    margin: 0.5em 1em 2em 1em;
    font-weight: bold;
}

.divider-line {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-top: 1px solid #0D6CFC;
}

.text-nombre {
    font-size: 13px;
}


.edit-modal {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0.8em;
    left: 45%;
}

.form-edit {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

.form-edit input {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: none !important;
    border-radius: 8px;
}

.btn-editar-accion{
    width: 90%;
    margin: 1em;
    border: 1px solid #0C6CF8 !important;
    color: #fff !important;
    background-color: #0C6CF8 !important;
    box-shadow: none !important;
    border-radius: 24px;
    padding: 0.2em !important;
    font-size: 14px;
    margin: 0.5em 1em 2em 1em;
    font-weight: bold;
}

.btn-editar-cerrar {
    width: 90%;
    margin: 1em;
    border: 1px solid #fff !important;
    color: #0C6CF8 !important;
    background-color: #FFFFFF !important;
    box-shadow: none !important;
    border-radius: 24px;
    padding: 0.2em !important;
    font-size: 14px;
    margin: 0.5em 1em 2em 1em;
    font-weight: bold;
}

.title-visualizador-header {
    text-align: center;
    width: 100%;
    font-size: larger;
}

.info-general-visualizador {
    background: #F7F7F7 ;
    padding: .5em 1.5em;
}

.title-visualizador {
    color: #797979;
    font-size: 12px;
}

.subtitle-visualizador {
    color: black;
    font-weight: bold;
    display: block;
    font-size: 13px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.document-content {
   text-align: center;
   height: 500px;
}

.btn-cerrar-visualizador {
    background: #fff !important;
    color: #0C6CF8 !important;
    box-shadow: none !important;
    border: 0px solid #ffff !important;
    font-weight: bold;
}

#visualizarDocModal .btn-close {
    box-shadow: none !important;
}

.btn-enviar-pago {
    border: 1px solid #0C6CF8 !important;
    color: #fff !important;
    background-color: #0C6CF8 !important;
    box-shadow: none !important;
    border-radius: 24px;
    padding: 0.2em 2em !important;
    font-weight: bold;

}