.content-icons-organigrama {
    font-size: 1.3em;
    text-align: end;
}

.content-icons-organigrama i {
    margin-left: 1em;
    color: #0C6CF8;
    cursor: pointer;
}

.content-perfil {
    box-shadow: 0px 3px 6px #213E5029;
    border: 1px solid #CBE0FF;
    background: #fff;
    width: 387px;
    height: 115px;
    font-size: 14px;
    line-height: 1em;
}

.content-text-organigrama,
.content-img-organigrama {
    align-self: center !important;
}

.content-img-organigrama {
    font-size: 3em;
    text-align: center;
    color: #6FA8FF;
}

.content-text-organigrama span:first-child {
    color: #0C6CF8;
}

.content-text-organigrama {
    width: 70%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2em;
}
