
.content-registrogeneral{
    background: white  !important;
    border-radius: 12px;
}

.header-table-text {
    letter-spacing: 0px;
    color: #363636;
    font-weight: bold;
}

.dropdown-paginacion-table .dropdown-item{
    color: black !important;
    font-weight:bold;
    padding-left:1em;
    padding-right:1em;
    font-size: 13px;
    text-align: center;
}

.dropdown-paginacion-table .dropdown-item.active,
.dropdown-paginacion-table .dropdown-item:active {
    background-color: #f8f9fa;
}

.dropdown-paginacion-table .dropdown-toggle{
    border: 1px solid #AFCFFF !important;
    background:white !important;  
    color: black !important;
    font-weight:bold;
    padding-left:1em;
    padding-right:1em;
    font-size: 13px;
}

.button-exportar-table-csv {
    border: 1px solid #AFCFFF;
    border-radius: 8px;
    background:white !important;
    color: black !important;
    font-weight:bold;
    opacity:1 !important;
    cursor:pointer;
    margin-right:1em;
    margin-left:1em;
    font-size: 13px;
}

.divider-box-consulta {
    width: 100%;
    margin-bottom: 1%;
    border-top: 1px solid #AFCFFF;
}

.button-exportar-table-csv i {
    color: #0C6CF8 !important;
}


.content-filtros-parent{
    padding:1em;
}
.datatable-general-portal thead th{
    padding: 10px 18px;
    border-bottom: 2px solid #c6c6c6 !important;
}

.datatable-general-portal.no-footer {
    border-bottom: none !important;
}

.datatable-general-portal>tbody>tr>td {
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat' !important;
    font-size: .8em;
}

.datatable-general-portal tbody tr td {
    padding: 1em;
    border: none !important;  
}

.datatable-general-portal thead tr th:last-child,
.datatable-general-portal tbody tr td:last-child {
    text-align: center;
}

.datatable-general-portal>tbody>tr>td {
    white-space: nowrap;
    color: #000000;
    font-family: 'Montserrat' !important;
    font-size: .8em;
    text-align: left;
    font: normal normal medium 15px/30px Montserrat;
    letter-spacing: 0px;
}

.content-body-table .dataTables_length{
    display:none;
}
.content-body-table .dataTables_filter{
    display:none;
}



.dataTables_wrapper .dataTables_info{
    letter-spacing: 0px;
    color: #A5A5A5;
    margin-left:1em;
    font-size:1em;
    font-weight:bold;
    margin-top:1em !important;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
    margin: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    width:.5em;
}

table.dataTable thead th, table.dataTable thead td {
    font-size: 14px;
}

.dataTables_wrapper .dataTables_info {
    font-size: 14px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .6em 1.1em !important;
    background: #fff !important;
    color: #0D6CFC !important;
    border: 1px solid #0D6CFC  !important;
    border-radius: 0px;
    font-size: 10px !important;
    border-right: 0px solid #fff !important;
    font-weight: 900;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #0D6CFC !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active{
    box-shadow: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background: #0D6CFC !important;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 1em;
}

#datatable-registro-general_next {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    padding: .6em .4em !important;
    border-right: 1px solid #0D6CFC  !important;
}

#datatable-registro-general_previous {
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    padding: .6em .4em !important;
}

.dataTables_paginate .paginate_button.disabled {
    display: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:first-child {
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:last-child {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.dropdown-toggle::after {
    color: #0D6CFC;
}

.content-registros-pagina {
    text-align: end;
    font-weight: 500;
    color: #646464;
    font-size: 14px;
}

.icon-table {
    color: #0D6CFC;
    font-size: 1.2em;
    cursor: pointer;
}

.drop-acciones{
    color: #0D6CFC;
    cursor: pointer;
}

